nav {
    text-align: center;
    margin: auto;
}

nav>h1 {
    color: red;
}

nav>h2 {
    color: purple;
}

ul, ol {
    text-align: center;
    list-style-position: inside;
}

img {
    vertical-align: text-bottom;
    height: 1000;
}

h3 {
    color: rgb(255, 230, 9);
}

#index-h3 {
    text-align: center;
}



